 header {
     height: 100vh;
     padding-top: 3rem;
     overflow: hidden;
 }

 .header__container {
     text-align: center;
     height: 100%;
     position: relative;
 }

 /*==================== CTA ====================*/

 .cta{
     margin-top: 2.5rem;
     display: flex;
     gap: 1.2rem;
     justify-content: center;
 }

 /*==================== Media ====================*/
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials a{
    background: transparent;
    padding: 0.5rem 0.9rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}

 .header__socials a:hover{
     background: rgba(0,0,0,0.3);
 }

/*.header__socials:after{*/
/*    content: "";*/
/*    width: 1px;*/
/*    height: 2rem;*/
/*    background: var(--color-primary);*/
/*}*/

 /*==================== Me ====================*/

.me{
    background: linear-gradient(var(--color-white), transparent);
    width: 16rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 8rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 2rem 1.5rem 1.5rem 2rem;
}
 /*==================== Scroll down ====================*/
.scroll__down{
    position: absolute;
    right: 5%;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.scroll__down a{
    color: black;
}

 /*==================== Media Queries (Medium) ====================*/
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

 /*==================== Media Queries (Small) ====================*/
 @media screen and (max-width: 600px) {
     header{
         height: 100vh;
     }

     .header__socials, .scroll__down{
         display: none;
     }
 }
